:root { color: #283831; font-family: "Trebuchet MS", sans-serif; font-synthesis: none; text-rendering: optimizeLegibility; }
* { box-sizing: border-box; }
body { background: #fbfcfa; margin: 0; min-width: 320px; }